*{
  font-family: 'Roboto', sans-serif;
}

.headerNavbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
li{
  display:inline-block;
  margin-left: 30px;
}
a{
  text-decoration: none;
  color: black;
}
.item-count{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
}
.addRestButtons{
  padding: 10px;
}
.juguetesCard{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 4rem;
}