*{
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #708090;
}
.headerNavbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
li{
  display:inline-block;
  margin-left: 30px;
}
a{
  text-decoration: none;
  color: black;
}
.item-count{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
}
.addRestButtons{
  padding: 10px;
}
.juguetesCard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 4rem;
}
.carga{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#itemDetail_title{
  grid-area: titulo;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 4vh;
}
#itemDetail_image{
  grid-area: imagen;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 4vh
}
#itemDetail_description{
  grid-area: descripcion;
}
#itemDetail_itemcount{
  grid-area: itemCount;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.itemDetail{
  display: grid;
  grid-template-areas:
  "titulo titulo"
  "imagen descripcion"
  "imagen itemCount";
}
.imgCart{
  width: 100px;
  height: 100px;
}
.singleItem{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.emptyCart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card{
  background-color: #708090;
}